[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "==6.29.5"
jupytext = "==1.17.1"
kubeflow = {ref = "main", git = "https://github.com/kubeflow/sdk.git"}
torch = "==2.8.0"
torchvision = "==0.23.0"
pandas = "==2.3.2"

[dev-packages]

[requires]
python_version = "3.10"
